<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/katex@latest/dist/katex.min.css"/>
  <title>{{ title }}</title>
</head>
<body>
  <!-- Navbar at top -->
    <div class="navbar-container">
      <nav>
      {% include "nav.njk" %}
      </nav>
      <p class="name-header" align="center"><strong>PHILIPP</strong> HELLWIG</p>
    </div>
  <!-- Two-column layout -->
  <div class="layout">
    <main>
      {{ content | latex | safe }}
    </main>
    <!-- TODO: make it so the profile card shows up before main content on mobile -->
    {% if page.url == "/" %}
      {% include "profile_card.njk" %}
    {% endif %}
    <!-- outputs all the icons used on the page -->
    {% getBundle "fontawesome" %}
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script src="/js/chart.js" defer></script>
  </div>
</body>
</html>
