<aside class="profile-card">
    <img class="pfp" src="/images/profile.png" alt="Profile picture">
    <dl>
        <dt>🎓 MSc. Psychology (research) at the University of Amsterdam</dt>
        <hr>
        <dt>
            <ul class="icon-list">
                <li>
                    <a href="mailto:philipp.hellwig@student.uva.nl">
                    {%icon "far:envelope"%}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/philipp-hellwig">
                    {%icon "fab:github"%}
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/philipp-hellwig">
                    {%icon "fab:linkedin"%}
                    </a>
                </li>
            </ul>
        </dt>
    </dl>
</aside>